/* Como estamos usando Tailwind CSS, la mayoría de los estilos están en el HTML. */
/* Aquí solo dejamos ajustes finos para los iconos grandes de Bootstrap */

.huge-icon {
    font-size: 6rem;
    line-height: 1;
}

/* Ocultar scrollbar para Chrome, Safari y Opera pero permitir scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
